footer.mt-auto.d-flex.justify-content-center.p-3
  p.m-0 &copy; #[span#year] Gaspard RUAULT · #[a(href="https://linkedin.com/in/gruaultdev"): i.fab.fa-linkedin] #[a(href="https://github.com/gruault"): i.fab.fa-github]
