div.mt-3.card(style="max-width: fit-content;")
  div.card-header.text-bg-warning: strong ⚠️ Attention
  div.card-body
    p.card-text Cette page est encore en construction. Revenez plus tard pour voir les avancées !
hr
