---
title: Accueil
layout: "base.pug"
wip: true
---
div.m-3
  h4 Bonjour ! 👋
  p Je suis #[a(href="https://linkedin.com/in/gruaultdev") Gaspard RUAULT], étudiant en informatique originaire de Reims.#[br]Bienvenue sur mon portfolio !
