---
title: Accueil
layout: "base.pug"
wip: true
---
section
  h4 Bonjour !

  :markdown Je suis [Gaspard RUAULT](https://linkedin.com/in/gruaultdev), 23 ans, actuellement en première année de BTS SIO à l'école [Iris Mediaschool de Reims](https://ecoleiris.fr/campus/reims), visant l'option SLAM.

  h4 C'est quoi le BTS SIO ?

  :markdown
    Le BTS SIO (Service Informatique aux Organisations) est un diplôme d'état de niveau BAC+2 préparant aux métiers de l'informatique.

    Il se divise en deux options :
    1. Solutions Logicielles et Application Métier (SLAM), celle que j'ai choisie, orientée développement logiciel et programmation
    2. Solutions d'Infrastructure Systèmes et Réseaux (SISR), orientée administration réseau et systèmes

    La formation alterne entre théorie et pratique, avec un stage en entreprise obligatoire, et permet soit d'entrer directement dans la vie active, soit de poursuivre en licence pro, bachelor ou école d'ingénieurs.
